:root {
  --container-padding-inline: 20px;
  --container-2xl-content-max-width: 1400px; /* 1440px - 2 * 20px */
  --container-xl-content-max-width: 1224px; /* 1440px - 2 * 108px */
  --container-lg-content-max-width: 1016px; /* 1440px - 2 * 212px */
  --container-md-content-max-width: 808px; /* 1440px - 2 * 316px */
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-max-width, calc(var(--container-content-max-width) + 2 * var(--container-padding-inline)));
  padding-left: var(--container-padding-inline);
  padding-right: var(--container-padding-inline);
  width: 100%;
}

.o-container--2xl {
  --container-content-max-width: var(--container-2xl-content-max-width);
}

.o-container--xl {
  --container-content-max-width: var(--container-xl-content-max-width);
}

.o-container--lg {
  --container-content-max-width: var(--container-lg-content-max-width);
}

.o-container--md {
  --container-content-max-width: var(--container-md-content-max-width);
}