.tailwind.preflight {  
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

.sidebar-instructions {
  @apply tw-text-3xl tw-text-center tw-font-bold;
}

.sidebar-instructions-hidden {
  @apply tw-hidden;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

td.appt {
  overflow: visible;
}
