.a-radio {
  @apply text-select2 font-medium;

  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.a-radio {
  & input {
    position: absolute;
    left: 0px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
  & input + label {
    @apply text-secondary-50;
  }
  & input:checked ~ label {
    @apply text-secondary-500;
  }

  & input:checked ~ .a-radio__checkmark {
    @apply border-primary-500;
    width: 16px;
    height: 16px;
  }

  & input:checked ~ .a-radio__checkmark:after {
    @apply bg-primary-500 border border-white;
    display: block;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
  }
}




/* Create a custom radio button */
.a-radio__checkmark {
  @apply border-secondary-50;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;


  &:after {
    content: "";
    left: 1px;
    top: 1px;
    position: absolute;
    display: none;
  }
}