.appointment-menu {
  background-color: white;
  padding: 10px;
  color: black;
  padding: 1em;
  border-radius: 0.1rem;
  display: block;
}

.appointment-menu.show {
  display: block;
}

.appointment-menu-container {
  position: relative;
  display: inline-block;
}
