.c-plugin {
  @apply whitespace-nowrap rounded-l-full rounded-r-full bg-green-300 w-fit flex items-center cursor-pointer;
}

.c-plugin__content {
  @apply w-0 overflow-hidden;
  /* TODO: Change this to tailwind if possible. */
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.c-plugin:hover .c-plugin__content {
  @apply w-[350px];
}

