td.appt {
  overflow: visible;
}

.color-primary {
  color: #5c70ff;
}

.appointment-menu {
  background-color: #5c70ff;
  padding: 10px;
  color: white;
  position: absolute;
  top: 0px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: none;
  right: 0;
  z-index: 1500;
  font-size: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.appointment-menu.show {
  display: block;
}

.appointment-menu a {
  color: white;
}

.appointment-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.appointment-menu ul li,
.contactInfo > div {
  margin: 1px 0;
}

.appointment-menu-container {
  position: relative;
  display: flex;
  background-color: #5c70ff;
  padding: 5px 10px;
  margin-top: -3px;
  margin-right: -3px;
  border-radius: 2rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.appointment-menu-wrapper {
  display: inline-block;
  position: relative;
  top: -5px;
  cursor: pointer;
}

.appointment-menu-header {
  background-color: white;
  border-radius: 0.5rem;
  padding: 5px 10px;
  display: flex;
  align-items: top;
  margin-bottom: 5px;
}

.appointment-menu-heading {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-size: 14px;
}

.appointment-menu-hr {
  margin: 0;
  padding: 0;
  margin: 5px 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.appointment-menu-subheading {
  color: white;
  font-size: 12px;
}

.contactInfo a {
  color: white;
}
