td.appt {
  overflow: visible;
}

.appointment-menu {
  background-color: #5c70ff;
  padding: 10px;
  color: white;
  position: absolute;
  top: 10px;
  padding: 1em;
  border-radius: 0.5rem;
  display: none;
  z-index: 1500;
  font-size: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.appointment-menu a {
  color: white;
}

.appointment-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.appointment-menu-container {
  position: relative;
  border-radius: 2rem;
  display: flex;
  background-color: #5c70ff;
  padding: 5px 10px;
  margin-top: -3px;
  margin-right: -3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.appointment-menu-wrapper {
  display: inline-block;
  position: relative;
  top: -5px;
}
