
.m-welcome-option {
  display: block;
  padding-top: 28px;
  padding-bottom: 25px;
  padding-left: 38px;
  padding-right: 38px;

  & .m-welcome-option__circle {
    @apply bg-secondary-200 flex justify-center items-center;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    margin-bottom: 29px;
  }

  & .m-welcome-option__logo {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    width: 64px;
    height: 64px;
    padding: 17px;
    border-radius: 20px;
  }

  & .m-welcome-option__heading {
    @apply font-bold text-title2 text-secondary-300;
    margin-bottom: 13px;
  }

  & .m-welcome-option__copy {
    @apply text-title7 text-secondary-300;
  }

  &:hover {
    & .m-welcome-option__circle {
      @apply bg-primary-500;
    }
    & .m-welcome-option__logo {
      background: #B5BEFF;
    }
    & .m-welcome-option__heading {
      @apply text-primary-500;
    }
  }
}