.cortico-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  opacity: 0;
  transition: opacity 1s;
  @apply tw-z-10000;
}

.cortico-modal-container.show {
  display: flex;
  opacity: 1;
}

.cortico-modal {
  background-color: white;
  padding: 10px;
  border-radius: 0.5rem;
}
