.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}
