.ellip-dot-wrapper {
  display: inline-block;
  cursor: pointer;
}

.ellip-dot-container {
  display: flex;
  flex-direction: column;
}

.ellip-dot {
  display: flex;
  width: 2px;
  height: 2px;
  background-color: #d8ddff;
  border-radius: 50%;
  margin: 1px;
  flex-direction: column;
}
